<!-- Your HTML code -->
<div class="contact-container">
  <i class="pi pi-arrow-left"
   style="margin-left:-50px;font-size: 1.5rem;color:gray;cursor:pointer"
   (click)="goToContacts()" >
  </i>
    <div class="image-container">
        <div>
            <!-- <img class="LrbNhc tUOMob"
        src="https://www.gstatic.com/identity/boq/profilepicturepicker/photo_silhouette_e02a5f5deb3ffc173119a01bc9575490.png"
        alt="Contact photo"
        width="125"
        height="125"
        > -->
        <img
        [src]="selectedFileUrl ? selectedFileUrl : 'https://www.gstatic.com/identity/boq/profilepicturepicker/photo_silhouette_e02a5f5deb3ffc173119a01bc9575490.png'"
          alt="Preview"
          width="125"
          height="125"
          style="border-radius: 205px;"
        />
        </div>
    </div>
    <form style="margin-left: 0px;" #contactForm="ngForm">
    <div class="row">
        <div class="p-field" >
            <label for="firstname">First Name</label>
            <div class="p-inputgroup" style=" border:  1px solid black;  border-radius: 7px;">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <!-- <input [disabled]="areInputsDisabled" id="firstname" type="text" pInputText [(ngModel)]="contact.first_name" name="firstname" placeholder="First name" required />
            -->
              <p style="margin-left: 5px;">{{contact.first_name}}</p>
            </div>
          </div>

          
          <div class="p-field">
            <label for="lastname">Last Name</label>
            <div class="p-inputgroup" style=" border:  1px solid black;  border-radius: 7px;">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <!-- <input [disabled]="areInputsDisabled" id="lastname" type="text" pInputText [(ngModel)]="contact.last_name" name="lastname"  placeholder="Last name" required/>
          -->
          <p style="margin-left: 5px;">{{contact.last_name}}</p>
            </div>

          </div>
    </div>


    
         <div  class="row">
          <div class="p-field">
            <label for="email">Email</label>
            <div class="p-inputgroup" style=" border:  1px solid black;  border-radius: 7px;">
              <span class="p-inputgroup-addon" >
                <i class="pi pi-envelope"></i>
              </span>
              <!-- <input [disabled]="areInputsDisabled" id="email" placeholder="Email"  [email]="true"  type="email" pInputText [(ngModel)]="contact.email" name="email" required/>
              -->
              <p style="margin-left: 5px;">{{contact.email}}</p>
            </div>
           
          </div>

          <div class="p-field">
            <label for="email">Relationship</label>
            <div class="p-inputgroup"  style=" border:  1px solid black;  border-radius: 7px;min-height: 53px;">
              <p style="margin-left: 16px;">{{contact.relationship}}</p>
            </div> 
            
    
          </div>

              
             

         </div> 
         <div class="row">
          <div class="p-field">
            <label for="phoneNumber">Phone Number</label>
            <div class="p-inputgroup" style=" border:  1px solid black;  border-radius: 7px;" >
              <span class="p-inputgroup-addon">
                <i class="pi pi-phone"></i>
              </span>
             <p style="margin-left: 5px;">{{contact.phone_number}}</p>
            </div>
            
          </div>
          <div class="p-field">
            <label for="phoneNumber">Phone Type</label>
            <div class="p-inputgroup" style=" border:  1px solid black;border-radius: 7px; min-height: 53px;" >
             <p style="margin-left: 16px;">{{contact.phone_type}}</p>
            </div>
          </div>
          </div>
            
         <div *ngFor="let phoneNumber of phoneNumbers; let i = index;">
          <div class="row" >
            <div class="p-field">
              <label for="phoneNumber">Phone Number</label>
              <div class="p-inputgroup"  style=" border:  1px solid black;  border-radius: 7px;">
                <span class="p-inputgroup-addon">
                  <i class="pi pi-phone"></i>
                </span>
  
                        <p style="margin-left: 5px;;">{{phoneNumber}}</p>
              </div>
                      
            </div>
              <div class="p-field" style="margin-right: -25px;">
                  <label >Phone Type</label>
                  <div class="p-inputgroup"  style=" border:  1px solid black;  border-radius: 7px;min-height: 53px;">
                    <p style="margin-left: 16px;">{{phoneTypes[i]}}</p>
                  </div> 
               </div>

              
               
            </div>
          </div>

          
          
     
    </form>
    
  </div>
  